@inherits LayoutComponentBase
@inject NavigationManager Navigation
<div class="page">
    <div style="position:absolute;right:0;top:0; background-color:white; color:green; z-index:100">
        <a href="">home</a>
    </div>
   
    <main>
      <div style="padding:0">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
