@page "/"

<PageTitle>Home</PageTitle>
<div style="height:100vh;width100vw">
    <div style="display:flex;justify-content:center;flex-direction:column;height:10rem;width:10rem">

        <div>
            <a href="copilot">Disaster Triage Copilot</a>
        </div>
        <div>
            <a href="narrativezoo">Narrative Zoo</a>
        </div>
    </div>
</div>
@* @if (!_toggleView)
{
    <Copilot></Copilot>
}
else
{
    <NarrativeZooPage></NarrativeZooPage>
} *@